.search-box{
    -fx-background-color:#A9A9A9;
    -fx-background-radius: 100;
 }
 
 
 .transparent{
     -fx-background-color: rgba(0,0,0,0);
 }
 
 .search-button{
     -fx-background-color: #A9A9A9;
     -fx-background-radius: 30;
 }
 
 .valider-button {
     -fx-background-color: #A9A9A9;
     -fx-background-radius: 30;
 
 }
 .valider:hover{
  
     -fx-background-color : #A9AB77;
 }
 .right-bar{
     -fx-background-color: #D3D3D4;
 }
 
 .shadow{
     -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
 }
 
 
 
 
 .button{
     fx-background-color:  #008B8B;
 }
 .button:hover {
     -fx-background-color : rgb(0, 255, 149);
 }
 .button::pressed{
     -fx-background-color: rgb(0, 255, 149) ;
 }
 .img{
     
     -fx-border-radius: 50;
       
 }
 
 .radio-button .radio {
     -fx-border-width: 1px;
     -fx-border-color: -fx-darkest-grey-color;
     -fx-background-color: white;
     -fx-background-image: null;
     -fx-border-radius: 15px;
     -fx-padding: 3px;
 }
 .radio-button .radio:selected {
     -fx-background-color: white;
     -fx-background-image: null;
 }
 .radio-button -radio:armed {
     -fx-background-color: white;
     -fx-background-image: null;
 }
 .radio-button -radio:determinate {
     -fx-background-color: white;
     -fx-background-image: null;
 }
 .radio-button -radio:indeterminate {
     -fx-background-color: white;
     -fx-background-image: null;
 }
 .radio-button .dot {
     -fx-background-radius: 15px;
     -fx-padding: 8px;


 }
 .combo-box-base, .choice-box {
    -fx-background-color: transparent;
    -fx-border-color: -swatch-grey;
    -fx-border-width: 0 0 2 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.combo-box:focused, .choice-box:focused {
    -fx-border-color: -swatch-500;
}

.combo-box-base>.label, .choice-box>.label {
    -fx-padding: 0.7em 0.7em 0.7em 0em;
}

.combo-box-base>.arrow-button, .choice-box>.open-button {
    -fx-padding: 1.2em 0.7em 1.2em 0.5em;
    -fx-background-radius: 0.0 2.0 2.0 0.0;
}

.combo-box-base>.arrow-button>.arrow, .choice-box>.open-button>.arrow {
    -fx-background-color: -swatch-grey;
}

.combo-box-base .arrow-button:hover .arrow, .spinner .increment-arrow-button:hover .increment-arrow,
.spinner .decrement-arrow-button:hover .decrement-arrow {
    -fx-background-color: -swatch-dark-grey;
}
 


.table-button
 {
	-fx-primary-color: #007acc;
	-fx-secondary-color: #4B6EAF;
	-fx-accent-color: #B6FF00;
	-fx-grey-color: #b9b9b9;
	-fx-light-grey-color: #d1d1d1;
	-fx-lightest-grey-color: #F9F9FB;
    
	-fx-focus-color: -fx-secondary-color;
}

.table-button {
	-fx-background-color: -fx-primary-color;
	-fx-cursor: hand;
}
.table-button:hover{
	-fx-background-color: transparent;
}
.table-view {
	-fx-border-color: transparent;
	-fx-background-color: transparent; /* OR  -fx-background-insets: 0.0; */
}
.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner {
	-fx-background-color: transparent;
}
.table-view .column-header {
	-fx-background-color: -fx-light-grey-color;
	-fx-border-color: -fx-grey-color;
}
.table-view .column-header .label{
	-fx-font-weight: bold; 
	-fx-alignment: center-left;
}
/* This is just magic */
.table-row-cell:filled {
	-fx-background-color: transparent;
	-fx-border-color: transparent -fx-lightest-grey-color -fx-lightest-grey-color -fx-lightest-grey-color, transparent;
	-fx-border-insets: 0, 1;
}
.table-row-cell:empty {
	-fx-background-color: transparent;
}
.table-row-cell:filled:hover {
	-fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected:hover {
	-fx-background-color: -fx-light-grey-color;
}
.table-row-cell:filled:selected {
  	-fx-background-color: #eaeaea;
 	-fx-background-insets: 0.0;
	-fx-background-radius: 0.0;
}
.table-row-cell:filled:selected .table-cell {
	-fx-text-fill: black;
}
.table-view .cell:filled{
	-fx-cell-size: 30;
	-fx-alignment: center-left;
}
.check-box-table-cell > .check-box:selected .box .mark {
	-fx-background-color: white;
}
.check-box-table-cell > .check-box:selected .box{
	-fx-background-color: -fx-accent-color;
}
.table-view .placeholder .label {
	-fx-text-fill: red;
	-fx-padding:20px;
 
}
  */*
* Empty Stylesheet file.
*/
.root{
-fx-background-color: #262626;
}
.table-view{
-fx-background-color: transparent;
}
.table-view:focused{
-fx-background-color: transparent;
}
/* Spaltenköpfe
Struktur column-header-background -> column-header */
.table-view .column-header-background{
-fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}
.table-view .column-header-background .label{
-fx-background-color: transparent;
-fx-text-fill: white;
}
.table-view .column-header {
-fx-background-color: transparent;
}
.table-view .table-cell{
-fx-text-fill: white;
}
.table-row-cell{
-fx-background-color: -fx-table-cell-border-color, #616161;
-fx-background-insets: 0, 0 0 1 0;
-fx-padding: 0.0em; /* 0 */
}
.table-row-cell:odd{
-fx-background-color: -fx-table-cell-border-color, #424242;
-fx-background-insets: 0, 0 0 1 0;
-fx-padding: 0.0em; /* 0 */  
}
.table-row-cell:selected {
-fx-background-color: #005797;
-fx-background-insets: 0;
-fx-background-radius: 1;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
-fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
-fx-opacity: 0;
}